# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Excluye carpeta temporal Debug/Release
/FRDMKL02Z_mma8451_propio/Debug/
/FRDMKL02Z_mma8451_propio/Release/
/FRDMKL02Z_mma8451_propio/doc/